@font-face {
    font-family: segoeui;
    src: url('./fonts/segoeui.ttf') format('truetype');
}
@font-face {
    font-family: Quicksand-Regular;
    src: url('./fonts/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Quicksand-Medium;
    src: url('./fonts/Quicksand-Medium.ttf') format('truetype');
}

:root {
    --primary: #724C99;
    --secondary: #21A7A7;
    --text-title: #828282;
    --text-content: #2E2E2E;
    --footer-secondary: #79CACA;
    --background-content: #F5F5F5;
    --white: #ffffff;
    --gradiente-top: #8564A9;
    --gradiente-bottom: #4E2B86;
    --box-shadow: 0 0.5px 0 0 rgba(66, 148, 135, 1), 0 1px 8px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-img: 0 0.5px 0 0 rgba(114, 76, 153, 1), 0 1px 8px 4px rgba(0, 0, 0, 0.1);
    --border-radius: 2rem;
    --font-family-Quicksand-Regular: 'Quicksand-Regular';
    --font-family-Quicksand-Medium: 'Quicksand-Medium';
    --font-family-Segoeui: 'segoeui';
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Espaciados */
.my-1{
    margin-top: 1rem;
}
.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-3{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/* Header */
.head {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    font-family: var(--font-family-Quicksand-Medium);
    font-size: 17px;
}
.container {
    width: 85%;
    margin: 0 auto;
}

.navBar {
    justify-content: space-between;
    display: flex;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 43px;
}

ul li{
    display: inline-block;
    list-style: none;
}

.navBar-main {
    text-decoration: none;
    color: var(--primary);
    padding: 0 30px;
}

.btn-Sesion {
    position: relative;
    padding: 12px 30px;
    margin-left: 8px;
    border-radius: 17px;
    border: 2px solid var(--secondary);
    background-color: var(--white);
    color: var(--secondary);
    font-family: var(--font-family-Quicksand-Medium);
    font-size: 17px;
    width: 180px;

    
}

.btn-Registrate {
    position: relative;
    padding: 12px 30px;
    margin-left: 8px;
    border-radius: 17px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
    font-family: var(--font-family-Quicksand-Medium);
    font-size: 17px;
    width: 180px;
}

/* Main */

main {
    width: 100%;
    height: 100%;
    background-color: var(--background-content);
}

.img-fluid {
    width: 100%;
}
/* Header 2 */
.navBar-item {
    text-decoration: none;
    color: var(--secondary);
    font-family: var(--font-family-Quicksand-Medium);
    font-size: 17px;
}

.navBar2 ul{
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 40px;
    list-style: none;
}


.steps-learning  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;    
    font-family: var(--font-family-Quicksand-Regular);
    font-size: 23px;
}

.point-one {
    position: relative;
    padding: 7px;
    border-radius: 60px;
    border:3px solid var(--secondary);
    width: 48px;
    height: 48px;
    text-align: center;
    color: var(--white);
    background-color: var(--secondary);
}
.point-two ,.point-three {
    position: relative;
    padding: 7px;
    border-radius: 60px;
    border:3px solid var(--secondary);
    width: 48px;
    height: 48px;
    text-align: center;
    color: var(--secondary);
    background-color: var(--white);
}

.steps-learning .point-one::after {
    content: "1"; 
}

.steps-learning .point-two::after {
    content: "2";
}

.steps-learning .point-three::after {
    content: "3";
}

.steps-line {
    width: 200px;
    height: 0;
    border: 2px solid var(--secondary);
}

.steps-content {
    width: 65%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 0;
    font-family: var(--font-family-Quicksand-Medium);
    font-size: 23px;
}

.steps-active{
    color: var(--secondary);
}

.steps-item {
    color: var(--text-title);
}
  
.title {
    color: var(--primary);
    text-align: center;
    padding: 40px 0;
    font-family: var(--font-family-Quicksand-Regular);
    font-size: 38px;
}

.title-webinar {
    color: var(--primary);
    text-align: left;
    font-family: var(--font-family-Quicksand-Regular);
    font-size: 38px;
}

.title2 {
    color: var(--white);
    text-align: center;
    padding: 40px;
    font-size: 40px;
    font-family: var(--font-family-Segoeui);
    font-weight: lighter;
}

.subtitle {
    color: var(--secondary);
    padding-top: 100px;
    padding-bottom: 24px;
    font-family: var(--font-family-Quicksand-Medium);
    font-size: 28px;
    font-weight: normal;
}

.subtitle2 {
    color: var(--secondary);
    padding: 30px 0;/*32*/
    text-align: left;
    font-family: var(--font-family-Quicksand-Medium);
    font-size: 23px;
    font-weight: normal;
}

.btn-webinar {
    position: relative;
    padding: 12px 30px;
    border-radius: 17px;
    border-width: 0;
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--white);
    font-family: var(--font-family-Quicksand-Medium);
    font-size: 17px;
    width: 200px;
}

.text-content {
    font-family: var(--font-family-Quicksand-Regular);
    font-size: 17px;
    line-height: 1.5;
}


.container-1 {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}


.top-webinar {
    display: block;
    bottom: 200px;
    margin: -190px 0;
}

.bottom-webinar {
    display: block;
    position: absolute;    
}

.container-2 {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
}

.container-2_content {
    grid-column:span 3;
    padding: 140px 0 0 0 ;
}

.container-2_img {
    grid-column:span 2;
    text-align: center;
    padding: 85px 0 0 0;
}

.img-1 {
    width: 85%;
}

.colum2{
    align-items: center;
}
.container-3 {
    padding-top: 190px;
    padding-bottom: 70px;
    background-image: linear-gradient(var(--gradiente-top),var(--gradiente-bottom));
}

.gridNoticias {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 8% 84% 8%;
    align-items: center;
     justify-content: space-between;
}

.btnNoticias {
    border-radius: 15px;
    border-width: 0;
    background-color: var(--white);
    font-size: 50px;
    width: 58px;
    box-shadow: var(--box-shadow-img);
}

.btnNoticias img {
    width: 55%;
}

.btnNoticiasHigher {
    justify-self: right;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    gap: 3.5rem; 
}

.card {
    overflow: hidden;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-img);
}

.card-content h2 {
    padding: 20px 25px 0 25px;
}

.card-content p { 
    padding: 10px 25px 20px 25px;
    text-align: left;
    font-family: var(--font-family-Quicksand-Regular);
    font-size: 17px;
}

/* Footer */
.footer-info {
    background-color: var(--footer-secondary);
    border-top: 3px solid var(--background-content);
    font-family: var(--font-family-Quicksand-Regular);
     font-size: 17px;
}

.grid-footer {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 35% repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 35.15px;
    color: var(--white);
    padding-top: 40px;
    padding-bottom: 30px;    
}

.grid-footer .itemInformacion {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.grid-footer p {
    line-height: 1.3;
    padding-bottom: 10px;
}
.itemColum {
    justify-self: center;
}
.itemColum2 {
    justify-self: right;
}
.itemRow {
    align-self: flex-end;
}
.itemRedes{
    display: flex;
    justify-content: space-between;
}
.itemRedes img {
    align-self: flex-end;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    font-family: var(--font-family-Quicksand-Regular);
    padding: 8px;
}

.content-footer {
    font-size: 17px;
    color: var(--white);
}
.text-footer {
    font-size: 14px;
    color: var(--white);
}

.footer img {
    width: 11%;
}
